  <nav class="container navbar sticky-top navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.svg" alt="Logo" width="100" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav col-4 justify-content-start">
          <li class="nav-item mt-2">
            <a class="nav-link" href="/campgrounds">캠핑장</a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="/campgrounds/new">캠핑장 등록</a>
          </li>
        </ul>
        
        <form class="d-flex col-4 justify-content-center">
          <input class="form-control me-2 mt-2" type="search" placeholder="어디로 캠핑가시나요?" aria-label="Search">
          <button class="btn btn-outline-success mt-2" type="submit"><i class="bi bi-search"></i></button>
        </form>
        
        <ul class="navbar-nav col-4 justify-content-end">
          <li class="nav-item mt-2">
            <a class="btn" href="/campgrounds/" style="border: 2px solid; color: #D4005B; background-color: #ffffff; border-color: #D4005B">로그인</a>
          </li>
        </ul>
        

      </div>
    </div>
  </nav>