<% layout('layouts/boilerplate') %> 
<h1>모든 캠핑장 보기</h1>
<div>
  <a href="/campgrounds/new">캠핑장 등록하기</a>
</div>
<ul>
  <% for (let campground of campgrounds) {%> 
  <li><a href="/campgrounds/<%= campground._id %> "><%= campground.title %></a></li>
  <%}%> 
</ul>
