<% layout('layouts/boilerplate') %> 
<div class="row">
  <div class="mb-4">
    <h2 class="text-center">캠핑장 등록하기</h2>
  </div>
  <div class="col-4 offset-4">
    <form action="/campgrounds" method="POST">
      <div class="mb-4">
        <label for="title" class="form-label">캠핑장명</label>
        <input class="form-control" type="text" name="campground[title]" id="title" placeholder="캠핑장 이름을 입력해주세요">
      </div>
      <div class="mb-4">
        <label for="price" class="form-label">가격</label>
        <div class="input-group">
          <input class="form-control" type="text" name="campground[price]" id="price" placeholder="0.00">
          <span class="input-group-text text-muted">₩</span>
        </div>
      </div>
      <div class="mb-4">
        <label for="description" class="form-label">설명</label>
        <textarea class="form-control" rows="4" type="text" name="campground[description]" id="description" placeholder="소개글을 입력해주세요"></textarea>
      </div>
      <div class="mb-4">
        <label for="location" class="form-label">주소</label>
        <input class="form-control" type="text" name="campground[location]" id="location" placeholder="주소를 입력해주세요">
      </div>
      <div class="mb-4">
        <label for="image" class="form-label">사진</label>
        <input class="form-control" type="text" name="campground[image]" id="image" value="https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
      </div>
      
      <div class="mb-4">
        <button class="btn btn-success">등록하기</button>
      </div>
    </form>
    <div>
      <a href="/campgrounds">모든 캠핑장 보기</a>
    </div>
  </div>
</div>



